$blue_gradient: linear-gradient(to bottom, #282137, #170f24);
$blue_gradient_component: linear-gradient(to bottom, #282e95, #071416);
$pink_gradient: linear-gradient(to left, #fea986, #ff7fc1, #b57efa);
$green_gradient: linear-gradient(90deg, #01601e, #0dd946);
$primary_pink: #ff7fc1;
$light_pink: #fbe0ea;
$dark_purple: #3a2a4c;
$gray_1: #d8dcde;
$black_1: #0f0521;
