.container {
  display: flex;
  flex-direction: column;
  gap: 2px;

  &_title {
    font-weight: 600;
    font-size: 12px;
    text-align: start;
  }

  &_points {
    font-weight: 400;
    font-size: 10px;
    display: flex;
    justify-content: space-between;
    & div {
      cursor: pointer;
    }
  }
}

.text {
  position: relative;
  top: -4px;
}
