@use "../../constants/scss/colors.scss" as colors;
.container {
  background: colors.$blue_gradient_component;
  border-radius: 14px;
  &_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &_seemore {
      display: flex;
      align-items: center;
      gap: 13px;

      color: colors.$gray_1;
      font-weight: 400;
      font-family: Inter;

      cursor: pointer;
    }
    h1 {
      display: flex;
      align-items: center;
      gap: 8px;

      font-size: 14px;
      font-family: Inter;
      font-weight: 600;
    }
  }
}
